In [1]:
import numpy as np
import pandas as pd

In [40]:
# Generate pixel coordinates
def random_integers(n, interval, seed):
    seed_sequence = np.random.SeedSequence(seed)
    rng = np.random.default_rng(seed)
    integers = rng.integers(low=min(interval), high=max(interval), size=n)
    return integers

seed_x, seed_y = 111, 222
pixel_range = [25, 2048]
n_locations = 50

df = pd.DataFrame({'X': random_integers(n=n_locations, interval=pixel_range, seed=seed_x),
                   'Y': random_integers(n=n_locations, interval=pixel_range, seed=seed_y)})

# Let's calibrate the pixel values
# We calibrate the microscope with a micrometer scale
# The calibration is 700 pixels / 100 um = 7 pixels/um

factor = 7

df = df.assign(X1=df['X']/factor,  
               Y1=df['Y']/factor)

display(df.head(20))

       X     Y          X1          Y1
0    984   850  140.571429  121.428571
1    335   788   47.857143  112.571429
2   1488   723  212.571429  103.285714
3    367  1448   52.428571  206.857143
4   1467    56  209.571429    8.000000
5   1048  1486  149.714286  212.285714
6    761  1702  108.714286  243.142857
7   1356  1777  193.714286  253.857143
8   1753  1036  250.428571  148.000000
9   1577  1836  225.285714  262.285714
10  1478   501  211.142857   71.571429
11   245   186   35.000000   26.571429
12   312   582   44.571429   83.142857
13  1638  1148  234.000000  164.000000
14   962    69  137.428571    9.857143
15  1984  1101  283.428571  157.285714
16   289  1334   41.285714  190.571429
17   524  1148   74.857143  164.000000
18  1026  1098  146.571429  156.857143
19   424   993   60.571429  141.857143

SeedSequence(
    entropy=123,
)